@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
}

.clearfix::after {
  clear: both;
}

.bg-white {
  background-color: #FFF;
}

.bg-gray {
  background-color: #929293;
}

@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1459581065_9214683.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1459581065_9214683.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1459581065_9214683.woff") format("woff"), url("//at.alicdn.com/t/font_1459581065_9214683.ttf") format("truetype"), url("//at.alicdn.com/t/font_1459581065_9214683.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
body {
  width: 100%;
  min-width: 1280px;
  color: #999999;
  background: #FFF;
  font: 12px/18px MicrosoftYaHei, 微软雅黑, STXihei, 华文细黑, serif;
}
body a {
  text-decoration: none;
  color: #000;
}
body header .logo {
  float: left;
  margin-left: 58px;
}
body header .logo i {
  height: 58px;
  line-height: 58px;
}
body header .logo span {
  color: #999999;
  display: inline-block;
  height: 58px;
  line-height: 58px;
  margin-top: -5px;
  font-size: 21px;
  font-weight: 200px;
}
body header nav ul {
  list-style: none;
  float: right;
}
body header nav ul li {
  float: left;
  margin: 0 20px;
}
body header nav ul li a {
  font-size: 14px;
  display: inline-block;
  height: 58px;
  line-height: 58px;
}
body header nav ul li a:hover:not(.logo) {
  transition: .3s;
  border-bottom: 5px #E74F40 solid;
  color: #E74F4D;
}
body header nav ul li a:visited {
  color: #999999;
}
body .news {
  position: relative;
  background: url("../images/banner.png") no-repeat;
  width: 100%;
  height: 690px;
  background-size: cover;
  padding-left: 120px;
  display: table;
}
body .news .title {
  height: 400px;
  display: table-cell;
  vertical-align: middle;
}
body .news .title p {
  padding: 20px;
  font-size: 21px;
  color: #FFF;
}
body .news .title p:first-of-type {
  width: 450px;
  color: #FFF;
  font-size: 60px;
}
body .news .title p:first-of-type:first-letter {
  text-transform: capitalize;
}
body .news .title p:last-of-type {
  width: 340px;
  line-height: 170%;
}
body .news .title a {
  margin-left: 20px;
}
body .news .title a.button {
  display: inline-block;
  width: 330px;
  height: 62px;
  line-height: 62px;
  background: #E74F4D;
  font-size: 30px;
  text-align: center;
  border: 1px rgba(255, 255, 255, 0) solid;
  color: #FFF;
}
body .news .title a.button:hover {
  color: #E74F4D;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  border: 1px #E74F4D solid;
  transition: color ease-out 0.3s;
}
body .items {
  height: 250px;
  width: 100%;
  display: table;
}
body .items ul {
  list-style: none;
  display: table-cell;
  vertical-align: middle;
}
body .items ul li {
  float: left;
  width: 25%;
  text-align: center;
  border-right: 2px #ccc solid;
}
body .items ul li span {
  display: block;
  color: #999999;
  width: 142px;
  margin: 30px auto;
  margin-bottom: 0px;
}
body .items-more {
  height: 360px;
  background-color: #EDEDEC;
  display: table;
  width: 100%;
}
body .items-more .wrapper {
  display: table-cell;
  vertical-align: middle;
}
body .items-more .wrapper span {
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
body .items-city {
  background: url(../images/map.png) center center no-repeat;
  height: 340px;
  background-size: cover;
  display: table;
  width: 100%;
  background-color: rgba(172, 52, 51, 0.2);
}
body .items-city .wrapper {
  display: table-cell;
  vertical-align: middle;
  height: 60%;
}
body .items-city .wrapper h2 {
  color: #FFF;
  font-size: 21px;
  text-align: center;
}
body .items-city .wrapper h2 span {
  border-bottom: 2px #FFF solid;
}
body .items-city .wrapper h4 {
  color: #FFF;
  font-size: 12px;
  text-align: center;
  margin: 20px 0 50px 0;
}
body .items-city .wrapper ul {
  margin: 0 100px;
}
body .items-city .wrapper ul li {
  width: 25%;
  float: left;
  position: relative;
  height: 35px;
}
body .items-city .wrapper ul li i {
  position: absolute;
  top: calc(50% - 9.5px);
  right: 1.4rem;
  height: inherit;
}
body .items-city .wrapper ul li input, body .items-city .wrapper ul li select {
  display: block;
  width: 235px;
  height: inherit;
  margin: 0 auto;
  padding: 0 3em 0 1em;
  outline: none;
  border: none;
}
body .items-city .wrapper ul li input[type=submit], body .items-city .wrapper ul li select[type=submit] {
  position: absolute;
  background-color: #B14241;
  top: 0;
  color: #FFF;
  font-size: 14px;
  padding: 0;
}
body .items-city .wrapper ul li input:focus, body .items-city .wrapper ul li select:focus {
  outline: #B14241 solid 1px;
  outline-offset: 0px;
}
body .items-city .wrapper ul li input:focus[type=submit], body .items-city .wrapper ul li select:focus[type=submit] {
  outline: none;
}
body .items-city .wrapper ul li select {
  position: absolute;
  background-color: #FFF;
  top: 0;
  right: 1rem;
  color: #999999;
  appearance: none;
}
body .items-city .wrapper ul li select option {
  display: inline-block;
  height: 35px;
  background-color: #EDEDEC;
}
body .items-city .wrapper ul li select option:hover {
  background-color: #B14241;
}
body .items-photowall {
  height: 605px;
  width: 100%;
  display: table;
  background-color: #f7f7f7;
}
body .items-photowall .wrapper {
  display: table-cell;
  vertical-align: middle;
}
body .items-photowall .wrapper ul {
  list-style: none;
  padding: 0 100px;
  text-align: center;
}
body .items-photowall .wrapper ul li {
  float: left;
  width: 25%;
}
body .items-photowall .wrapper ul li img {
  border: 1px #dadada solid;
  padding: 13px 7px;
  background-color: #FFF;
}
body .items-photowall .wrapper ul li h2 {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #655F5F;
  margin: 10px 0;
}
body .items-photowall .wrapper ul li h4 {
  margin-bottom: 5px;
}
body .items-date {
  width: 100%;
  height: 564px;
  display: table;
}
body .items-date .wrapper {
  display: table-cell;
  vertical-align: middle;
  background: url(../images/news@1.png) 0 0 no-repeat;
}
body .items-date .wrapper .post {
  float: left;
  height: inherit;
  width: 851px;
  background-size: cover;
  text-align: center;
  color: #FFF;
}
body .items-date .wrapper .post .para-new {
  font-size: 60px;
}
body .items-date .wrapper .post .para-time {
  font-size: 160px;
  margin: 70px 0 90px 0;
}
body .items-date .wrapper .post .para-address {
  font-size: 22px;
  margin: 30px 0 20px 0;
}
body .items-date .wrapper .post .para-date {
  font-size: 21px;
}
body .items-date .wrapper .more-info {
  width: calc(100% - 851px);
  float: right;
  text-align: center;
}
body .items-date .wrapper .more-info h2 {
  color: #000;
}
body .items-date .wrapper .more-info h2 span {
  color: #F11412;
}
body .items-date .wrapper .more-info p {
  text-align: left;
  margin: 30px 0 50px 0;
  padding: 0 60px 0 60px;
  color: #BFBFBF;
  text-indent: 1em;
  line-height: 2.2em;
}
body .items-date .wrapper .more-info button {
  width: 100px;
  height: 35px;
  background-color: #FFF;
  border: 1px #F11412 solid;
}
body .items-date .wrapper .scroll-dot ul {
  list-style: none;
  width: 60px;
  margin: 0 auto;
}
body .items-date .wrapper .scroll-dot ul li {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 25px 0;
  border: 1px #929293 solid;
}
body .items-date .wrapper .scroll-dot ul li.active {
  background-color: #929293;
}
body .items-date .wrapper .scroll-dot ul li.center {
  margin: 25px 15px;
}
body .items-panels {
  width: 100%;
}
body .items-panels ul {
  list-style: none;
}
body .items-panels ul li.wrapper {
  display: table;
  float: left;
  width: 33%;
  color: #505050;
  height: 520px;
  text-align: center;
  font-size: 21px;
}
body .items-panels ul li.wrapper:first-of-type {
  background-color: #E74F4D;
  color: #FFF;
}
body .items-panels ul li.wrapper:last-of-type {
  width: 34%;
  background: url(../images/news@2.png) center center no-repeat;
}
body .items-panels ul li.wrapper div {
  display: table-cell;
  vertical-align: middle;
}
body .items-panels ul li.wrapper div h2 {
  font-size: 21px;
  line-height: 1.5em;
}
body .items-panels ul li.wrapper div h2.underline {
  height: 2px;
  width: 1.4em;
  margin: 1em auto;
}
body .items-panels ul li.wrapper div button {
  width: 170px;
  height: 40px;
  border: 1px #F11412 solid;
  background-color: #FFF;
  color: #F11412;
  font-size: 21px;
  outline: none;
}
body .items-panels ul li.wrapper div button.white {
  background-color: #E74F4D;
  border-color: #FFF;
  color: #FFF;
}
body .items-volunteer {
  margin: 0 100px;
  height: 792px;
  text-align: center;
  display: table;
}
body .items-volunteer .wrapper {
  display: table-cell;
  vertical-align: middle;
}
body .items-volunteer .wrapper .substract {
  font-size: 21px;
}
body .items-volunteer .wrapper .substract .title {
  color: #000;
}
body .items-volunteer .wrapper .substract .underline {
  height: 2px;
  width: 1.5em;
  margin: 0 auto;
  margin-top: .7em;
  margin-bottom: 1em;
  background: #F11412;
}
body .items-volunteer .wrapper .substract .sub-title {
  width: 420px;
  margin: 0 auto;
  font-size: 12px;
}
body .items-volunteer .wrapper .pform {
  margin-top: 90px;
}
body .items-volunteer .wrapper .pform .protocol {
  float: left;
  width: 276px;
}
body .items-volunteer .wrapper .pform .protocol .item {
  text-align: left;
  margin-bottom: 35px;
}
body .items-volunteer .wrapper .pform .protocol .item .title {
  font-size: 14px;
  color: #444;
}
body .items-volunteer .wrapper .pform .protocol .item .content {
  line-height: 1em;
  margin: 2em 0 .2em 0;
}
body .items-volunteer .wrapper .pform .protocol .item a {
  display: block;
  text-align: right;
  color: #999999;
}
body .items-volunteer .wrapper .pform .protocol .item a i {
  font-size: 12px;
}
body .items-volunteer .wrapper .pform .protocol .item a:hover {
  color: #000;
}
body .items-volunteer .wrapper .pform .form-control {
  float: right;
  width: calc(100% - 356px);
}
body .items-volunteer .wrapper .pform .form-control .item {
  float: left;
  height: 45px;
  width: 48.5%;
  position: relative;
  margin-bottom: 1.2em;
}
body .items-volunteer .wrapper .pform .form-control .item:nth-child(even) {
  float: right;
}
body .items-volunteer .wrapper .pform .form-control .item label {
  position: absolute;
  left: 1em;
  line-height: 45px;
}
body .items-volunteer .wrapper .pform .form-control .item input, body .items-volunteer .wrapper .pform .form-control .item textarea {
  width: 100%;
  height: inherit;
  background-color: #ECEDEE;
  outline: none;
  border: none;
  border-radius: .2em / .2em;
  padding-left: 4em;
}
body .items-volunteer .wrapper .pform .form-control .item input.long-4, body .items-volunteer .wrapper .pform .form-control .item textarea.long-4 {
  padding-left: 6em;
}
body .items-volunteer .wrapper .pform .form-control .item.textarea {
  height: 100px;
  width: 100%;
}
body .items-volunteer .wrapper .pform .form-control .item.textarea textarea {
  height: inherit;
  width: inherit;
  padding: 1.1em 0;
  text-indent: 12em;
}
body .items-volunteer .wrapper .pform .form-control .item input[type="submit"] {
  display: block;
  width: 206.18%;
  margin-left: -106.18%;
  padding: 0;
  font-size: 14px;
}
body .items-contact {
  height: 360px;
  background-color: #32353E;
  text-align: center;
  display: table;
  width: 100%;
}
body .items-contact .wrapper {
  display: table-cell;
  vertical-align: middle;
}
body .items-contact .wrapper h2 {
  display: 21px;
  text-align: center;
  color: #FFF;
}
body .items-contact .wrapper p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  margin: 0 auto;
  width: 468px;
  color: #FFF;
  margin-top: 10px;
  margin-bottom: 30px;
}
body .items-contact .wrapper ul {
  list-style: none;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}
body .items-contact .wrapper ul li {
  float: left;
  width: 25%;
}
body .items-contact .wrapper ul li i {
  text-align: center;
  color: #FFF;
}
body .items-contact .wrapper .contact-form input {
  outline: none;
  border: none;
}
body .items-contact .wrapper .contact-form input[type=email] {
  width: 430px;
  height: 40px;
  background-color: #FFF;
  padding-left: 1em;
}
body .items-contact .wrapper .contact-form input[type=submit] {
  width: 80px;
  height: 40px;
  background-color: #6F7178;
  color: #FFF;
  font-size: 16px;
}
body footer {
  height: 60px;
  line-height: 60px;
  background-color: #303039;
  padding: 0 5em;
  color: #fff;
}
body footer span {
  display: block;
  float: left;
}
body footer a {
  display: block;
  float: right;
}
body footer a:link {
  color: #fff;
}
body footer a:visited {
  color: #fff;
}

.icon {
  display: inline-block;
  z-index: 10;
  font-family: "iconfont" !important;
  font-style: normal;
  font-size: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.icon.icon-big {
  width: 100px;
  height: 100px;
}
.icon.icon-top {
  display: block;
  margin-bottom: 5px;
  margin: 0 auto;
}
.icon.icon-envelop {
  background: url(../images/input.png) -204px -9px no-repeat;
  width: 19px;
  height: 17px;
}
.icon.icon-logo {
  background: url(../images/logo.png) center center;
  width: 31px;
  height: 37px;
}
.icon.icon-logo-2 {
  background: url(../images/logo@2x.png) center center;
}
.icon.icon-user {
  background: url(../images/user.png) center center;
  width: 14px;
  height: 52px;
}
.icon.icon-round {
  background: url(../images/item_1.png) center center no-repeat;
  width: 42px;
  height: 42px;
}
.icon.icon-flag {
  background: url(../images/item_2.png) center center no-repeat;
  width: 42px;
  height: 42px;
}
.icon.icon-flower {
  background: url(../images/item_3.png) center center no-repeat;
  width: 42px;
  height: 42px;
}
.icon.icon-rect {
  background: url(../images/item_4.png) center center no-repeat;
  width: 42px;
  height: 42px;
}
.icon.icon-qq::before {
  content: '\e600';
}
.icon.icon-weibo::before {
  content: "\e601";
}
.icon.icon-twitter::before {
  content: "\e602";
}
.icon.icon-network::before {
  content: "\e603";
}
.icon.icon-arrow-down::before {
  content: '\e604';
}
